<a href="https://colab.research.google.com/github/BongJunYoon/MSBA/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from fbprophet import Prophet
from fbprophet.plot import add_changepoints_to_plot
import numpy as np

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/BongJunYoon/MSBA/main/multiTimeline.csv')

In [4]:
df.head()

           카테고리: 모든 카테고리
주            BTS: (대한민국)
2016-12-11            14
2016-12-18            13
2016-12-25            14
2017-01-01            15